:root {
  --white: #f5f5f5;
  --mint: #41d395;
  --dark: #1c1c1c;
  --orange: #E27866;
  --skyblue: #6696e2;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;

}

body {
  margin: 0;

  p {
    font-size: 14px;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}


@import "style-components/header";
@import "style-components/hero.scss";
@import "style-components/form.scss";
@import "style-components/socials.scss";
@import "style-components/cheshire.scss";
@import "style-components/about.scss";
@import "style-components/pricing.scss";
@import "style-components/footer.scss";
@import "style-components/tabs.scss";
@import "style-components/comments.scss";
