footer {
    margin: 0;
    background-color: var(--dark);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width: 503px) {
            justify-content: center;
        }

        .socials-image img {
            width: 20px;
            height: 20px;
            padding: 50px 0;

            &:not(:last-child) {
                margin-right: 108px;

                @media (max-width: 850px) {
                    margin-right: 35px;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            color: #ffffff;
            opacity: 0.5;
        }
    }
}

