.socials {
    margin: 0;
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .socials-image img{
            margin-left: 90.6px;
            opacity: 0.65;

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }

        .socials-content {
            padding: 19px 0 19px 0;
            p, h4 {
                margin: 0px;
                padding-bottom: 5px;
            }

            p {
                font-size: 14px;
            }

            h4 {
                font-size: 20px;
            }
        }
    }
}